$mainFont: Lato, sans-serif;

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
}

.sitewidth {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    &__navS {
        background-color: #222;
        height: 75px;
    }
    
}

.navS {
    padding: 0 20px;
    &__menu {
        display: flex;
        justify-content: space-between;
        
    }
    &__leftitem {
        display: flex;
        align-items: center;
        height: 75px;
        gap: 41px;
    }
    &__rightitem {
        display: flex;
        align-items: center;
        height: 75px;
        gap: 33px;
        .login, .basket {
            @media (max-width: 375px) {
                display: none;
            }
        }
    } 
}

.header__content {   
    // background: #F1E4E6;
    max-height: 764px;
    // justify-content: center;
    @media (max-width:768px) {
       gap: 0;
       max-height: 368px;
    }
    @media (max-width: 375px) {
        height: 360px;
        align-items: center;
        justify-content: center;
        
    }
    .header__item {
        display: flex;
        // gap: 64px;
        .header__img {
            max-height: 100%;
            width: 50%;
            position: relative;
            left: -130px;
            @media (max-width:768px) {
                margin-right: 40px;
                // float: left;
                width: 385px;
                left: 0px;
            }
            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
            @media (max-width:1280px) {
                max-width: 600px;
            }
            @media (max-width:768px) {
                margin-left: 0;
                object-fit: cover;
            }
            @media (max-width: 375px) {
                display: none;
            }
        }
        
        .header__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            background: #F1E4E6;
            box-sizing: border-box;
            padding-left: 64px;
            @media (max-width:768px) {
                padding-left: 40px;
            }
            @media (max-width: 375px) {
                width: 100%;
                height: 363px;
            }  
            .decor {
                width: 12px;
                height: 92px;
                background: #F16D7F;
                position: absolute;
                @media (max-width:768px) {
                    max-width: 283px;
                }
                @media (max-width: 375px) {
                    height: 61px;
                }         
            }
            h1 {
                font-family: $mainFont;
                font-style: normal;
                font-weight: 900;
                font-size: 48px;
                line-height: 58px;
                color: #222222;
                padding-left: 28px;
                @media (max-width:767.98px) {
                    font-size: 44px;
                    line-height: 53px;
                }
                @media (max-width: 375px) {
                    font-size: 38px;
                    line-height: 46px;
                }  
            }
            p {
                font-family: $mainFont;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 38px;
                color: #222222;
                padding-left: 28px;
                
                span {
                    color: #F16D7F;
                }
                @media (max-width:768px) {
                    font-size: 24px;
                    line-height: 29px;
                }
                @media (max-width: 375px) {
                    font-size: 20px;
                    line-height: 24px;
                }  
            }
    
        }
    }
    
}

.main {
    flex: 1 1 auto;
   
    .shop__sections {
        padding: 64px 10px 95px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(260px, auto) minmax(180px, auto);
        gap: 1.5vw;
        position: relative;
        @media (max-width: 767.98px) {
            padding: 18px 5px 154px;
            grid-auto-rows: minmax(168px, auto) minmax(116px, auto);
        }
        @media (max-width: 375px) {
            padding: 64px 16px 64px;
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(115px, auto);
            gap: 10vw;
        }
        
        
        .section__item {
            display: flex;
            position: relative;
            max-width: 100%;
            height: 260px;
            @media (max-width: 768px) {
                height: 168px;
            }
            
            img {
                position: absolute;
                width: 100%;
                object-fit: cover;
                height: 260px;
                @media (max-width: 768px) {
                    height: 168px;
                }
                
            }
            .section__name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                width: 100%;
            }
        }
        .section__accesories {
            grid-column: 1/-1;
            grid-row: 2;
            display: flex;
            position: relative;
            max-width: 100%;
            max-height: 100%;
            @media (max-width: 375px) {
                grid-column: 1;
                grid-row: 4;
                max-height: 111px;                
            }
            img {
                position: absolute;
                width: 100%;
                object-fit: cover;
                height: 180px;
                @media (max-width:767.98px) {
                    height: 111px;
                    grid-auto-rows: minmax(168px, auto) minmax(116px, auto);
                }
                @media (max-width: 375px) {
                    grid-column: 1;
                    grid-row: 4;
                    height: 111px;
                    grid-auto-rows: minmax(111px, auto);
                }
            }
            .section__name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                width: 100%;
            }
        }
        


        .section__text {
            font-family: $mainFont;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
        }    
        .section__title {
            font-family: $mainFont;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #F16D7F;
        }
    }

    .fetured {
        font-family: $mainFont;
        font-style: normal;
        font-weight: normal;
        .fetured__title {
            font-size: 30px;
            line-height: 36px;
            color: #222222;
            text-align: center;
        }
        .fetured__text {
            font-size: 14px;
            line-height: 17px;
            color: #9F9F9F;
            text-align: center;
        }
        .fetured__items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 48px 0 48px;
            gap: 30px;
            @media (max-width:768px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
                margin: 0 16px;
            }
            @media (max-width: 375px) {
                grid-template-columns: 1fr;
                gap: 15px;
                justify-items: center;
                margin: 0 8px;
            }
            .fetured__item {
                background: #F8F8F8;
                padding-bottom: 20px;
                .item__img {
                    object-fit: cover;
                    max-width: 100%;
                    margin-bottom: 25px;
                  
                }
                .item__title {
                    font-size: 13px;
                    line-height: 16px;
                    color: #000000;
                    margin: 0px 18px;
                    
                }
                .item__text {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #5D5D5D;
                    max-width: 315px;
                    margin: 12px 0 18px 16px;
                }
                .item__price {
                    font-size: 16px;
                    line-height: 19px;
                    color: #F16D7F;
                    margin-left: 18px;
    
                }
            }
            
        }
        .button{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 95px;
            .btn {
                font-size: 16px;
                line-height: 19px;
                color: #F26376;
                padding: 15px 40px;
                border: 1px solid #F26376;
                text-decoration: none;
                display: inline-block;
            }
        }
        
    }

    .benefits {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        background-color:#222224;
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 48px;
            padding: 48px 0;
        }
        .benefit__item {
            max-width: 360px;
            height: 135px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 100px 0;
            @media (max-width: 768px) {
                    margin: 0;
            }
            .benefit__img{
                max-height: 30px;
            }
            .benefit__title {
                font-family: $mainFont;
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 24px;
                color: #FBFBFB;
                margin: 28px 0 16px;
            }
            .benefit__text {
                font-family: $mainFont;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #FBFBFB;
                text-align: center;
                padding: 0 20px;
            }
        }
    }
    .subscribe {
        background-image: url("/img/subscribe.png");
        background-repeat: no-repeat;
        background-size: cover;
        
        
        .subscribe__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            @media (max-width: 768px) {
                flex-direction: column;
                gap: 48px;
                padding: 48px 0;
            }
            
            .subscribe__item {
                max-width: 360px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 97px;
                @media (max-width:768px) {
                    margin-top: 64px;
                }
                .subscribe__img {
                    height: 96px;
                    width: 96px;
                    margin-bottom: 30px;  
                }
                .subscribe__text {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #222224;
                    // font-style: italic;
                }
            }
            .subscribe__in {
                max-width: 558px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 150px 0;
                @media (max-width:768px) {
                    margin: 48px 0 140px;
                }
                .subscribe__title {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 167.2%;
                    color: #222224;
                    // @media (max-width:375px) {
                       
                    // }
                }
                .subscribe__subtitle {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 167.2%;
                    color: #222224;
                    @media (max-width:375px) {
                        font-size: 14px; 
                    }
                }
                .emailto {
                    display: flex;
                    margin-top: 40px;
                    @media (max-width:375px) {
                        padding: 0 20px;
                    }
                    input {
                        border-radius: 20px 0 0 20px;
                        border: none;
                        height: 50px;
                        width: 320px;
                        background: #E1E1E1;
                        margin-right: 0;
                        color: #222224;
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        display: flex;
                        align-items: center;
                        color: #222224;
                        opacity: 0.67;
                        padding-left: 22px;
                        @media (max-width:375px) {
                            height: 46px;
                            width: 230px;
                        }
    
                    }
                    .btn {
                        border-radius: 0 20px 20px 0;
                        height: 50px;
                        width: 100px;
                        margin-left: 0;
                        background: #F16D7F;
                        border: none;
                        color: #FFFFFF;
                        @media (max-width:375px) {
                            height: 46px;
                            width: 75px;
                        }
                    }
                }
                
            }
        }

    }

}

.footer {
    background-color: #222224;
    .footer__items {
        display: flex;
        justify-content: space-between;
        padding: 24px 0;
        align-items: center;
        @media (max-width:768px) {
            // margin: 0 32px;
            flex-direction: column-reverse;
            gap: 40px;
        }
        .copyright {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FBFBFB;

        }
    }
}

/* ========= CATALOG PAGE =========  


.catalog__menu {
    background-color: #F8F3F4;
    .catalog__section {
        display: flex;
        justify-content: space-between;
        padding: 60px 0;
        margin-bottom: 132px;
        @media (max-width: 768px) {
            margin: 0 16px;
            margin-bottom: 80px;
        }
        @media (max-width: 375px) {
            flex-direction: column;
            align-items: center;
            gap: 32px;
            margin-bottom: 80px;
        }
        .catalog__arrivals {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #F16D7F;
        }
        .catalog__path {
            font-family: $mainFont;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
            span {
                color: #F16D7F
            }
        }
    }
}

.shop {
    margin-bottom: 180px;
}

.shop__row {
      align-items: center;
      justify-content: center;
      gap: 30px;
      .item-3 {
        @media (max-width: 768px) {
            display: none;
        }
      }
}

.shop__item {
    max-width: 360px;
    background: #F8F8F8;
    padding: 0;
   
    .shop__img {
        width: 100%;
    }
    .shop__title {
        font-family: $mainFont;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin: 25px 0 0 16px;
    }
    .shop__text {
        font-family: $mainFont;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin: 12px 28px 18px 16px;
    }
    .shop__price {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        margin: 0 0 20px 16px;
    }   
}  
*/

