$mainFont: Lato, sans-serif;

.productSlide {
    background-color: F7F7F7;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .productSlide__img {
        @media (max-width: 578px) {
            width: 100%;
        }
    }
}