$mainFont: Lato, sans-serif;

.registration {
    display: flex;
    gap: 128px;
    margin-top: 64px 0 96px;
    @media (max-width:768px) {
        margin: 40px 16px 96px;
        gap: 22px;
     }
    @media (max-width: 375px) {
        flex-direction: column;
        gap: 40px;
    }
    .reg-input {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        &__title {
            font-family: $mainFont;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }
        input {
            margin-top: 20px;
            box-sizing: border-box;
            padding: 13px 0 16px 17px;
        }
        .radio-buttons {
            display: flex;
            gap: 20px;
            margin: 32px 0;
            @media (min-width: 1140px) {
                .other {
                    display: none;
                }
            }
            input {
                margin-top: 0px;
            }
            label {
                font-family: $mainFont;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #000000;
                margin-left: -10px;
            }
        }
        .reg-text {
            font-family: $mainFont;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
            margin-top: 15px;
            @media (max-width:768px) {
        
            }
        }
        .reg-btn {
            font-family: $mainFont;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            box-sizing: border-box;
            padding: 16px 0 17px;
            background-color: #F16D7F;
            width: 176px;
            border: none;
            margin-top: 39px;
            left: 0;
            img {
                margin-left: 20px;
            }
        }
    }

    .loyalty {
        max-width: 652px;
        &__title {
            font-family: $mainFont;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            @media (max-width:768px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
        &__text {
            font-family: $mainFont;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            margin: 21px 0;
            @media (max-width:768px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-family: $mainFont;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            list-style: none;
            @media (max-width:768px) {
                font-size: 16px;
                line-height: 19px;
            }
            &-item::before {
                content: url(/img/check.svg);
                margin-right: 22px;  
            }
        }
    }
}